<h1>Dashboard Inicial</h1>

<div class="row">
    <div class="col-xs-3">
        <div class="fomr-group">

            <p ng-show="showScoreInicial">
                Score Inicial : {{scoreInicialValue}}
            </p>
            <div class="input-inicial" ng-show="!showScoreInicial" >
                
                <input 
                    type="number" 
                    placeholder="Colocar Score Inicial" 
                    class="form-control"
                    ng-model="scoreInicialValue"
                    />
                <input type="submit" value="settar" ng-click="setScoreInicial()">

            </div>
            
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-xs-6">
        <canvas 
            id="line" 
            class="chart chart-line" 
            chart-data="data"
            chart-labels="labels" 
            chart-series="series" 
            chart-options="options"
            chart-dataset-override="datasetOverride" 
            chart-click="onClick">
        </canvas>
    </div>
    <div class="col-xs-6">
        <h2>Herois Maisa Usados</h2>
        <ul>
            <li class="item" ng-repeat="(key,value) in HeroesNeverDie">
                {{key}} - {{value}}
            </li>
        </ul>
    </div>
</div>