<div class="container">
	<div class="row">
		
		<form action="" class="form col-xs-4 col-xs-offset-2">
			
			<div class="form-group">
				<label for="">Usuario</label>
				<input type="text" class="form-control">	
			</div>
			<div class="form-group">
				<label for="">Senha</label>
				<input type="password" class="form-control">	
			</div>
			<input type="submit" value="Logar-se">
			
			<legend>Redes Sociais</legend>

			<a class="btn btn-info" href="#" ng-click="googleLogin()">Logar-se Usando Google</a>

		</form>


	</div>
</div>
