<div class="home">
<!--
<ol class="breadcrumb">
    <li>
        <b>Score Inicial : </b> {{scoreInicialValue}} 
    </li>
    <li>
         <b>Score Maior : </b> {{scoreHighest}}
    </li>
    <li>
        <b>Score Atual : </b> {{scoreCurrent}} 
    </li>
</ol>
-->

<div class="row">
    <div class="best-info">

        <div class="col-xs-3">
            <div class="card">

                <div class="card-head"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-bar-chart bg-primary"></i>
                        </div>
                        <div class="col-xs-8">
                            <div class="card-content">
                                <h1>Maior Score</h1>
                                <h2>
                                    {{scoreHighest}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-foot">
                    <a href="" class="">
                        Veja Seus Scores
                        <i class="fa fa-angle-right float-right font-lg"></i>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-xs-3">
            <div class="card">

                <div class="card-head"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-superpowers bg-info"></i>
                        </div>
                        <div class="col-xs-8">
                            <div class="card-content">
                                <h1>Melhor Mapa</h1>
                                <h2>{{ melhores.mapas.nome }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-foot">
                    <a href="" class="">
                        Veja Todos Mapas
                        <i class="fa fa-angle-right float-right font-lg"></i>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-xs-3">
            <div class="card">

                <div class="card-head"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-crosshairs bg-warning"></i>
                        </div>
                        <div class="col-xs-8">
                            <div class="card-content">
                                <h1>Melhor Herói</h1>
                                <h2>{{ melhores.hero.nome }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-foot">
                    <a href="" class="">
                        Veja Todos Mapas
                        <i class="fa fa-angle-right float-right font-lg"></i>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-xs-3">
            <div class="card">

                <div class="card-head"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-th-large bg-danger"></i>
                        </div>
                        <div class="col-xs-8">
                            <div class="card-content">
                                <h1>Total de Jogos</h1>
                                <h2>{{ jogos.total }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-foot">
                    <a href="" class="">
                        Veja Todos Mapas
                        <i class="fa fa-angle-right float-right font-lg"></i>
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-xs-12 top-info">

        <canvas 
            id="line" 
            class="chart chart-line" 
            chart-data="data"
            chart-labels="labels" 
            chart-series="series" 
            chart-options="options"
            chart-dataset-override="datasetOverride" 
            chart-click="onClick">
        </canvas>
        
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="card card-plain">
            <div class="card-header" data-background-color="title">
                <h1> Estatísticas Baseadas no Time </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="card" ng-show="dados.porSr['Maior']">
                            <div class="card-header" data-background-color="default">Seu time com SR Maior</div>
                            <div class="card-content">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Total</th>
                                            <th>Vitórias</th>
                                            <th>Empates</th>
                                            <th>Derrotas</th>
                                            <th>%(wins)</th>
                                            <th>%(derrotas)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{dados.porSr['Maior'].total}}</td>
                                            <td>{{dados.porSr['Maior'].win}}</td>
                                            <td>{{dados.porSr['Maior'].draw}}</td>
                                            <td>{{dados.porSr['Maior'].loss}}</td>
                                            <td>{{dados.porSr['Maior'].winPercentage | number:2}}</td>
                                            <td>{{dados.porSr['Maior'].lossPercentage | number:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card" ng-show="dados.porSr['Menor']">
                            <div class="card-header" data-background-color="green">Seu time com SR Menor </div>
                            <div class="card-content">
                                <table class="table table-hover">
                                     <thead>
                                        <tr>
                                            <th>Total</th>
                                            <th>Vitórias</th>
                                            <th>%(wins)</th>
                                            <th>Empates</th>
                                            <th>Derrotas</th>
                                            <th>%(derrotas)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{dados.porSr['Menor'].total}}</td>
                                            <td>{{dados.porSr['Menor'].win}}</td>
                                            <td>{{dados.porSr['Menor'].winPercentage | number:2}}</td>
                                            <td>{{dados.porSr['Menor'].draw}}</td>
                                            <td>{{dados.porSr['Menor'].loss}}</td>
                                            <td>{{dados.porSr['Menor'].lossPercentage | number:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card" ng-show="dados.porSr['Igual']">
                            <div class="card-header" data-background-color="green">Igual ou Indiferente </div>
                            <div class="card-content">
                                <table class="table table-hover">
                                     <thead>
                                        <tr>
                                            <th>Total</th>
                                            <th>Vitórias</th>
                                            <th>%(wins)</th>
                                            <th>Empates</th>
                                            <th>Derrotas</th>
                                            <th>%(derrotas)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{dados.porSr['Igual'].total}}</td>
                                            <td>{{dados.porSr['Igual'].win}}</td>
                                            <td>{{dados.porSr['Igual'].winPercentage | number:2}}</td>
                                            <td>{{dados.porSr['Igual'].draw}}</td>
                                            <td>{{dados.porSr['Igual'].loss}}</td>
                                            <td>{{dados.porSr['Igual'].lossPercentage | number:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header" data-background-color="party">Vitorias por Tamanho das Parties </div>
                                <div class="card-content">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tamanho</th>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>5</th>
                                            <th>6</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Jogos</td>
                                            <td>{{dados.porSize[1].total || 0}}</td>
                                            <td>{{dados.porSize[2].total || 0}}</td>
                                            <td>{{dados.porSize[3].total || 0}}</td>
                                            <td>{{dados.porSize[4].total || 0}}</td>
                                            <td>{{dados.porSize[5].total || 0}}</td>
                                            <td>{{dados.porSize[6].total || 0}}</td>
                                        </tr>
                                        <tr>
                                            <td>%(win)</td>
                                            <td>{{ (dados.porSize[1].winPercentage | number: 0) || 0}}%</td>
                                            <td>{{ (dados.porSize[2].winPercentage | number: 0) || 0}}%</td>
                                            <td>{{ (dados.porSize[3].winPercentage | number: 0) || 0}}%</td>
                                            <td>{{ (dados.porSize[4].winPercentage | number: 0) || 0}}%</td>
                                            <td>{{ (dados.porSize[5].winPercentage | number: 0) || 0}}%</td>
                                            <td>{{ (dados.porSize[6].winPercentage | number: 0) || 0}}%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="card card-plain">
            <div class="card-header" data-background-color="title">
                <h1> Estatísticas Baseadas nas Classes </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="card">
                    <div class="card-header" data-background-color="default">Dados Por classes</div>
                    <div class="card-content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Classe</th>
                                    <th>Total</th>
                                    <th>Vitórias</th>
                                    <th>Empates</th>
                                    <th>Derrotas</th>
                                    <th>%(wins)</th>
                                    <th>%(derrotas)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in dados.tipos">
                                    <td> {{item.tipo}} </td>
                                    <td> {{item.total}} </td>
                                    <td> {{item.win}} </td>
                                    <td> {{item.draw}} </td>
                                    <td> {{item.loss}} </td>
                                    <td> {{item.winPercentage | number:1}}% </td>
                                    <td> {{item.lossPercentage | number:1}}% </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" data-background-color="default">Dados por tipo de Comeco </div>
                    <div class="card-content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Tipo de Ataque</th>
                                    <th>Total</th>
                                    <th>Vitórias</th>
                                    <th>Empates</th>
                                    <th>Derrotas</th>
                                    <th>%(wins)</th>
                                    <th>%(derrotas)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in dados.porSide">
                                    <td> {{item.side || 'King of The Hill'}} </td>
                                    <td> {{item.total}} </td>
                                    <td> {{item.win}} </td>
                                    <td> {{item.draw}} </td>
                                    <td> {{item.loss}} </td>
                                    <td> {{item.winPercentage | number:1}}% </td>
                                    <td> {{item.lossPercentage | number:1}}% </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    
    <div class="col-xs-12 col-md-6">
        
        <div class="card card-plain">
            <div class="card-header" data-background-color="title">
                <h1>Estatisticas Baseadas em Mapas</h1>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="blue">Mapas Mais Jogados</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mapa</th>
                        <th>Jogos</th>
                        <th>Vitórias</th>
                        <th>Empates</th>
                        <th>Derrotas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dados.mapas | orderBy: '-total' ">
                        <td>{{$index+1}}</td>
                        <td>{{item.map}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.win}}</td>
                        <td>{{item.draw}}</td>
                        <td>{{item.loss}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="green">Mais Vitoriosos</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mapa</th>
                        <th>%</th>
                        <th>Jogos</th>
                        <th>Vitórias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dados.mapas | orderBy: '-winPercentage' " ng-init="melhorMapa(item.map,item.winPercentage);">
                        <td>{{$index+1}}</td>
                        <td>{{item.map}}</td>
                        <td>{{item.winPercentage | number:1}}%</td>
                        <td>{{item.total}}</td>
                        <td>{{item.win}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="red">Piores Mapas</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mapa</th>
                        <th>%</th>
                        <th>Jogos</th>
                        <th>Derrotas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dados.mapas | orderBy: '-lossPercentage' ">
                        <td>{{$index+1}}</td>
                        <td>{{item.map}}</td>
                        <td>{{item.lossPercentage | number:1}}%</td>
                        <td>{{item.total}}</td>
                        <td>{{item.loss}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    
        <div class="card" ng-repeat="(key,value) in dados.porMapa">
            <div class="card-header" data-background-color="red">{{key}}</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Jogos</th>
                        <th>Vitorias</th>
                        <th>%</th>
                        <th>Derrotas</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in value ">
                        <td>{{item.hero}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.win}}</td>
                        <td>{{item.winPercentage | number:1}}%</td>
                        <td>{{item.loss}}</td>
                        <td>{{item.lossPercentage | number:1}}%</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-md-6">
        
        
        <div class="card card-plain">
            <div class="card-header" data-background-color="title">
                <h1>Estatisticas Baseadas nos Herois</h1>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" data-background-color="blue">Herois Mais Jogados</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Herói</th>
                        <th>Jogos</th>
                        <th>Vitórias</th>
                        <th>%(win)</th>
                        <th>Empates</th>
                        <th>Derrotas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dados.herois | orderBy : '-total' ">
                        <td>{{$index+1}}</td>
                        <td>{{item.hero}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.win}}</td>
                        <td>{{item.winPercentage | number:1}}%</td>
                        <td>{{item.draw}}</td>
                        <td>{{item.loss}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="green">Mais Vitoriosos</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Herói</th>
                        <th>Vitórias</th>
                        <th>Jogos</th>
                        <th>%(win)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dados.herois | orderBy : '-winPercentage' " ng-init="melhorHeroi(item.hero,item.winPercentage)">
                        <td>{{$index+1}}</td>
                        <td>{{item.hero}}</td>
                        <td>{{item.win}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.winPercentage | number:1}}%</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="red">Piores Heróis</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Herói</th>
                        <th>Derrotas</th>
                        <th>Jogos</th>
                        <th>%(loss)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dados.herois | orderBy : '-lossPercentage' " ng-init="piorHeroi(item.hero,item.lossPercentage)">
                        <td>{{$index+1}}</td>
                        <td>{{item.hero}}</td>
                        <td>{{item.loss}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.lossPercentage | number:1}}%</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div class="card" ng-repeat="(key,value) in dados.porHeroi">
            <div class="card-header" data-background-color="red">{{key}}</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Jogos</th>
                        <th>Vitorias</th>
                        <th>%</th>
                        <th>Derrotas</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in value ">
                        <td>{{item.map}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.win}}</td>
                        <td>{{item.winPercentage | number:1}}%</td>
                        <td>{{item.loss}}</td>
                        <td>{{item.lossPercentage | number:1}}%</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

    </div>
</div>
</div>