<div class="home">
<ol class="breadcrumb">
    <li>
        <b>Score Inicial : </b> {{scoreInicialValue}} 
    </li>
    <li>
        <b>Score Atual : </b> {{scoreInicialValue}}   
    </li>
    <li>
        <b>Score Maior : </b> <span ng-repeat="item in scores | orderBy: '-item' | limitTo: 1">{{item}}</span> 
    </li>
    <li class="right">
        <a href="#!/adicionar-jogo" class="label label-primary">Adicionar Jogo</a>
    </li>
</ol>

<div class="row">
    <div class="col-xs-3">
        <div class="fomr-group">

            <p ng-show="showScoreInicial">
                Score Inicial : {{scoreInicialValue}}
            </p>
            <div class="input-inicial" ng-show="!showScoreInicial" >
                
                <input 
                    type="number" 
                    placeholder="Colocar Score Inicial" 
                    class="form-control"
                    ng-model="scoreInicialValue"
                    />
                <input type="submit" value="settar" ng-click="setScoreInicial()">

            </div>
            
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-xs-12 col-md-6 top-info">
        <canvas 
            id="line" 
            class="chart chart-line" 
            chart-data="data"
            chart-labels="labels" 
            chart-series="series" 
            chart-options="options"
            chart-dataset-override="datasetOverride" 
            chart-click="onClick">
        </canvas>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Maior SR: <b>{{ biggerScore }}</b>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                Melhor Herói : <b> {{ maisVitorias[0].name}} </b>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                Melhor Mapa : <b> {{ mapasMaisVitorias[0].name}} </b>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                Melhor Horário :
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                Pior Herói : <b> {{ maisDerrotas[0].name}} </b>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="card card-plain">
            <div class="card-header" data-background-color="title">
                <h1> Estatísticas Baseadas no Time </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="card">
                            <div class="card-header" data-background-color="default">Seu time com SR Maior</div>
                            <div class="card-content">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Total</th>
                                            <th>Vitórias</th>
                                            <th>Empates</th>
                                            <th>Derrotas</th>
                                            <th>%(wins)</th>
                                            <th>%(derrotas)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{srMaior.total}}</td>
                                            <td>{{srMaior.win}}</td>
                                            <td>{{srMaior.draw}}</td>
                                            <td>{{srMaior.loss}}</td>
                                            <td>{{srMaior.winPercentage | number:2}}</td>
                                            <td>{{srMaior.lossPercentage | number:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" data-background-color="green">Seu time com SR Menor </div>
                                <div class="card-content">
                                <table class="table table-hover">
                                     <thead>
                                        <tr>
                                            <th>Total</th>
                                            <th>Vitórias</th>
                                            <th>Empates</th>
                                            <th>Derrotas</th>
                                            <th>%(wins)</th>
                                            <th>%(derrotas)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{srMenor.total}}</td>
                                            <td>{{srMenor.win}}</td>
                                            <td>{{srMenor.draw}}</td>
                                            <td>{{srMenor.loss}}</td>
                                            <td>{{srMenor.winPercentage | number:2}}</td>
                                            <td>{{srMenor.lossPercentage | number:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header" data-background-color="party">Vitorias por Tamanho das Parties </div>
                                <div class="card-content">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tamanho</th>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>5</th>
                                            <th>6</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Jogos</td>
                                            <td>{{partySizes[1].total}}</td>
                                            <td>{{partySizes[2].total}}</td>
                                            <td>{{partySizes[3].total}}</td>
                                            <td>{{partySizes[4].total}}</td>
                                            <td>{{partySizes[5].total}}</td>
                                            <td>{{partySizes[6].total}}</td>
                                        </tr>
                                        <tr>
                                            <td>%(win)</td>
                                            <td>{{ (partySizes[1].win * 100) | number: 2}}%</td>
                                            <td>{{ (partySizes[2].win * 100) | number: 2}}%</td>
                                            <td>{{ (partySizes[3].win * 100) | number: 2}}%</td>
                                            <td>{{ (partySizes[4].win * 100) | number: 2}}%</td>
                                            <td>{{ (partySizes[5].win * 100) | number: 2}}%</td>
                                            <td>{{ (partySizes[6].win * 100) | number: 2}}%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="card card-plain">
            <div class="card-header" data-background-color="title">
                <h1> Estatísticas Baseadas nas Classes </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="card">
                    <div class="card-header" data-background-color="default">Dados por Por classes</div>
                    <div class="card-content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Classe</th>
                                    <th>Total</th>
                                    <th>Vitórias</th>
                                    <th>Empates</th>
                                    <th>Derrotas</th>
                                    <th>%(wins)</th>
                                    <th>%(derrotas)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in classes">
                                    <td> {{item.name}} </td>
                                    <td> {{item.total}} </td>
                                    <td> {{item.win}} </td>
                                    <td> {{item.draw}} </td>
                                    <td> {{item.loss}} </td>
                                    <td> {{(item.winPercentage * 100) | number:1}}% </td>
                                    <td> {{(item.lossPercentage * 100) | number:1}}% </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    
    <div class="col-xs-12 col-md-6">
        
        <div class="card card-plain">
            <div class="card-header" data-background-color="title">
                <h1>Estatisticas Baseadas em Mapas</h1>
            </div>
        </div>

        

        <div class="card">
            <div class="card-header" data-background-color="blue">Mapas Mais Jogados</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mapa</th>
                        <th>Jogos</th>
                        <th>Vitórias</th>
                        <th>Empates</th>
                        <th>Derrotas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in mapasMaisJogados | orderBy: '-total' ">
                        <td>{{$index+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.win}}</td>
                        <td>{{item.draw}}</td>
                        <td>{{item.loss}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="green">Mais Vitoriosos</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mapa</th>
                        <th>%</th>
                        <th>Jogos</th>
                        <th>Vitórias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in mapasMaisVitorias |  orderBy: '-winPercentage'">
                        <td>{{$index+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{(item.winPercentage * 100) | number:1}}%</td>
                        <td>{{item.total}}</td>
                        <td>{{item.win}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="red">Piores Mapas</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mapa</th>
                        <th>%</th>
                        <th>Jogos</th>
                        <th>Derrotas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in mapasMaisDerrotas |  orderBy: '-lossPercentage' ">
                        <td>{{$index+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{(item.lossPercentage * 100) | number:1}}%</td>
                        <td>{{item.total}}</td>
                        <td>{{item.loss}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-md-6">
        
        
        <div class="card card-plain">
            <div class="card-header" data-background-color="title">
                <h1>Estatisticas Baseadas nos Herois</h1>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" data-background-color="blue">Herois Mais Jogados</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Herói</th>
                        <th>Jogos</th>
                        <th>Vitórias</th>
                        <th>%(win)</th>
                        <th>Empates</th>
                        <th>Derrotas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in maisJogados |  orderBy: '-total'">
                        <td>{{$index+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.win}}</td>
                        <td>{{(item.winPercentage * 100) | number:1}}%</td>
                        <td>{{item.draw}}</td>
                        <td>{{item.loss}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="green">Mais Vitoriosos</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Herói</th>
                        <th>%(win)</th>
                        <th>Jogos</th>
                        <th>Vitórias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in maisJogados | orderBy: '-winPercentage'">
                        <td>{{$index+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{(item.winPercentage * 100) | number:1}}%</td>
                        <td>{{item.total}}</td>
                        <td>{{item.win}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="red">Piores Heróis</div>
            <div class="card-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Herói</th>
                        <th>%(loss)</th>
                        <th>Jogos</th>
                        <th>Derrotas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in maisJogados |  orderBy: '-lossPercentage'">
                        <td>{{$index+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{(item.lossPercentage * 100) | number:1}}%</td>
                        <td>{{item.total}}</td>
                        <td>{{item.loss}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

    </div>
</div>
</div>