<div class="geral-info-main data-info lista-de-mapas">
        
        <header>
            <div class="row">
                <div class="col-xs-9">
                    <h1>Estátisticas por Mapas</h1>    
                </div>
            </div>
        </header>
    
        <div class="geral-info-main">
            <!-- Cards -->
            <div class="row">
                <div class="col-xs-4">
                    
                    <div class="card">        
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-superpowers bg-info"></i>
                                </div>
                                <div class="col-xs-8">
                                    <div class="card-content">
                                        <h2>{{ melhores.mapas.nome }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-foot">
                            Mapa mais Jogado
                        </div>            
                    </div>
                    
                </div>
                <div class="col-xs-4">
                    
                    <div class="card">        
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-superpowers bg-info"></i>
                                </div>
                                <div class="col-xs-8">
                                    <div class="card-content">
                                        <h2>{{ melhores.mapas.nome }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-foot">
                            Mapa mais Vitorioso
                        </div>            
                    </div>
                    
                </div>
                <div class="col-xs-4">
                    
                    <div class="card">        
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-superpowers bg-info"></i>
                                </div>
                                <div class="col-xs-8">
                                    <div class="card-content">
                                        <h2>{{ melhores.mapas.nome }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-foot">
                            Pior Mapa
                        </div>            
                    </div>
                    
                </div>
            </div>
    
            <h1 class="title">Mapas mais Jogados</h1>
    
            <!-- Tables -->
            <div class="row">
                <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <th>#</th>
                        <th>Mapa</th>
                        <th>jogos</th>
                        <th>Vitórias</th>
                        <th>Empates</th>
                        <th>Derrotas</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dados.mapas | orderBy: '-total' | limitTo: 5">
                            <td>{{$index+1}}</td>
                            <td>{{item.map}}</td>
                            <td>{{item.total}}</td>
                            <td>{{item.win}}</td>
                            <td>{{item.draw}}</td>
                            <td>{{item.loss}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            
            <h1 class="title">
                Mapas
                <select
                    ng-model="abacate"
                    ng-change="">
                    <option value="1" selected>Todos</option>
                    <option value="2">Gerais</option>
                    <option value="3">Classe</option>
                    <option value="4">Tamanho</option>
                </select>
            </h1>
    
            <div class="row">
            <div class="col-sm-12 col-md-6">
                <table class="table table-info">
                    <thead>
                        <th>Melhores Mapas</th>
                        <th>%(Vitórias)</th>
                        <th>Jogos</th>
                        <th>Vitórias</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dados.mapas | orderBy: '-winPercentage' | limitTo: 5 " ng-init="melhorMapa(item.map,item.winPercentage);">
                            <td>{{item.map}}</td>
                            <td>{{item.winPercentage | number:1}}%</td>
                            <td>{{item.total}}</td>
                            <td>{{item.win}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-6 col-maps">
                    <table class="table table-danger">
                        <thead>
                            <th>Piores Mapas</th>
                            <th>%(Derrotas)</th>
                            <th>Jogos</th>
                            <th>Derrotas</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in dados.mapas | orderBy: '-lossPercentage' | limitTo: 5">
                                <td>{{item.map}}</td>
                                <td>{{item.lossPercentage | number:1}}%</td>
                                <td>{{item.total}}</td>
                                <td>{{item.loss}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <h1 class="title">Mapas</h1>
    
            <div class="col-xs-12 col-md-6" ng-repeat="(key,value) in dados.porMapa">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ key }}</th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>Jogos</th>
                            <th>Vitorias</th>
                            <th>%</th>
                            <th>Derrotas</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in value | limitTo: 5 ">
                            <td>{{item.hero}}</td>
                            <td>{{item.total}}</td>
                            <td>{{item.win}}</td>
                            <td>{{item.winPercentage | number:1}}%</td>
                            <td>{{item.loss}}</td>
                            <td>{{item.lossPercentage | number:1}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>    
    
        </div>
    </div>