<h1>Adicionar Novo Jogo Competitivo</h1>

<div class="row"><div class="col-xs-12 game">
	<div class="alert alert-success msg" ng-class="showMsg">
		{{msg}}
	</div>
</div></div>

<form action="#" class="form form-add">
	
	<div class="row">
		<div class="info start">
			<div class="col-xs-4">
				<h3>Horario de Inicio</h3>
				<span>{{startHour}}</span>
			</div>
		</div>
	</div>
	
	<div class="row">

		<div class="col-xs-6">
			<div class="row">
			<h2 class="col-xs-12">
				Selecione os Herois jogados
			</h2>
			
			<div class="col-xs-12 heroes">
				<div class="form-group">
					<label for="selectHero">Selecione o Heroi</label>
					<div class="select">
						<select id="selectHero" class="form-control"
							ng-model="HeroSelecionado">
							<option value="{{item}}" ng-repeat="item in optionsHero | orderBy : item">
								{{item}}
							</option>
						</select>
						<i class="glyphicon glyphicon-plus" ng-click="adicionarHero();">adicionar</i>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<h3>Lista de Herois Selecionados</h3>
						<ul>
							<li ng-repeat="item in heroList">
								{{item}}
							</li>
						</ul>		
					</div>
				</div>
				
			</div>
			</div>
		</div>

		<div class="col-xs-6">
		<div class="row">
			<h2 class="col-xs-12">
				Selecione o Mapa
			</h2>
			
			<div class="col-xs-12">
				<div class="form-group">
					<label for="selectMap">Selecione o Heroi</label>
					<select id="selectMap" class="form-control"
						ng-model="MapaSelecionado">
						<option value="{{item}}" ng-repeat="item in optionsMaps | orderBy : item">
							{{item}}
						</option>
					</select>
				</div>
			</div>
		</div>
		</div>

	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="sr" class="sr">SR Final | <span>[SR Inicial - {{SrInicial}}]</span></label>
				<input type="number" class="form-control" ng-model="SrFinal">
			</div>
		</div>
	</div>

	<a type="submit" class="btn btn-primary" ng-click="salvarJogo();">Submit</a>

</form>