<!--<h1>Adicionar Novo Jogo Competitivo</h1>-->
<h1>Abacate</h1>

<div class="row"><div class="col-xs-12 game">
	<div class="alert alert-success msg" ng-class="showMsg">
		{{msg}}
	</div>
</div></div>

<form action="#" class="form form-add" ng-init="startForm();">
	
	<div class="row">
		<div class="info start">
			
			<div class="col-xs-3">
				<div class="form-group">
					<h3>Horario de Inicio</h3>
					<input type="text" name="startingHour" class="form-control" value="{{startHour}}" disabled>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<h3>Data da Partida</h3>
					<input type="text" name="startingDate" class="form-control" value="{{startDate}}" disabled>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<h3>Tamanho da Party</h3>
					<select ng-model="partySize" ng-init="1">
						<option ng-repeat="i in [1,2,3,4,5,6]" value="{{i}}">{{i}}</option>
					</select>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="form-group col-xs-4 col-sm-4">
			<label for="">Sr do seu Time:</label>
			<input type="number" name="teamsr" class="form-control" ng-model="teamSR" ng-change="SRs();">
		</div>
		<div class="form-group col-xs-4 col-sm-4">
			<label for="">Sr do Time Inimigo:</label>
			<input type="number" name="enemysr" class="form-control" ng-model="enemySR" ng-change="SRs();">
		</div>
	</div>
	
	<div class="row">

		<div class="col-xs-4">

			<div class="row">
				
				<h2 class="col-xs-12">
					Selecione o Mapa
				</h2>
				
				<div class="col-xs-12">
					<div class="form-group">
						<select name="mapas" id="selectMap" class="form-control" ng-model="MapaSelecionado">
							<option value="{{item}}" ng-repeat="item in optionsMaps | orderObjectBy">
								{{item}}
							</option>
						</select>		
					</div>
				</div>

			</div>

		</div>


		<div class="col-xs-4">
		<div class="row">
			<h2 class="col-xs-12">
				Selecione os Herois jogados
			</h2>
			
			<div class="col-xs-12 heroes">
				<div class="form-group">
					<div class="select">
						<select id="selectHero" class="form-control"
							ng-model="HeroSelecionado"
							ng-change="adicionarHero(this.HeroSelecionado)">
							<option value="{{item}}" ng-repeat="item in optionsHero | orderBy : item.name">
								{{item.name}}
							</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<h3>Lista de Herois Selecionados</h3>
						<ul>
							<li ng-repeat="item in heroList">
								{{item.name}}
							</li>
						</ul>		
					</div>
				</div>
				
			</div>
		</div>
		</div>

	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="sr" class="sr">SR Final | <span>[SR Inicial - {{SrInicial}}]</span></label>
				<input type="number" class="form-control" ng-model="SrFinal">
			</div>
		</div>
	</div>
	
	<div class="row">
		<h1>Modo Avancado (Opcional)</h1>
	</div>

	<a type="submit" class="btn btn-primary" ng-click="salvarJogo();">Submit</a>

</form>