<form action="#" class="form form-add card card-nav-tabs" ng-init="startForm();">
	
	<div class="card-header" data-background-color="purple">
        <h2>Adicionar Novo Jogo Competitivo</h2>
    </div>
	
	<div class="card-content">

		<div class="row">
			<div class="info start">
				
				<div class="col-xs-3">
					<div class="form-group">
						<label for="hora"><h3>Horario de Inicio</h3></label>
						<input id="hora" type="text" name="startingHour" class="form-control" value="{{startHour}}" required>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						
						<label for="data"><h3>Data da Partida</h3></label>
						<input id="data" type="text" name="startingDate" class="form-control" value="{{startDate}}" required>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-xs-3">
					<div class="form-group">
						<label for="party"><h3>Tamanho da Party</h3></label>
						
						<select ng-model="partySize" ng-init="1" id="party" class="form-control" required>
							<option ng-repeat="i in [1,2,3,4,5,6]" value="{{i}}">{{i}}</option>
						</select>
					</div>

			</div>
		</div>
		
		<div class="row">

			<div class="col-xs-6 select-heroes">
				<label for="selectMap"><h2>Selecione o Mapa</h2></label>
					
				<div class="">
					<div class="form-group">
						<select name="mapas" id="selectMap" class="form-control" ng-model="MapaSelecionado" required>
							<option value="{{item}}" ng-repeat="item in optionsMaps | orderObjectBy">
								{{item}}
							</option>
						</select>		
					</div>
				</div>

			</div>

		</div>

		<div class="row">
			<div class="col-xs-12 select-heroes">
				
				<div class="row">
					<div class="col-xs-6">

						<label for="selectHero"><h2>Selecione os Herois jogados</h2></label>
						
						<div class="heroes">
							<div class="form-group">
								<div class="select">
									<select id="selectHero" class="form-control select-form-heroes"
										ng-model="HeroSelecionado"
										ng-change="adicionarHero(this.HeroSelecionado)">
										<option value="{{item}}" ng-repeat="item in optionsHero | orderBy : item.name">
											{{item.name}}
										</option>
									</select>
								</div>
							</div>
						</div>

					</div>

					<div class="heroes-list col-xs-6">
						<div>
							<label for="selectHero"><h2>Lista de Herois Selecionados</h2></label>
							<ul>
								<li class="li-heroes" ng-repeat="item in heroList">
									{{item.name}}<span class="label label-danger" ng-click="removerHero(item);">remover</span>
								</li>
							</ul>		
						</div>
					</div>
				</div>

			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="sr" class="sr">SR Final da Partida</label>
					<input type="number" class="form-control" ng-model="SrFinal" id="sr" required>
				</div>
			</div>
		</div>
		
		<div class="row">
		<div class="col-xs-12 advanced">
			
			<h3 class="alert alert-info">Opções Avançadas</h3>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<div class="col-xs-3">
							<input type="radio" name="sides" id="ataque" ng-model="side" value="ataque"/>
							<label for="ataque">Ataque</label>
						</div>
						<div class="col-xs-3">
							<input type="radio" name="sides" id="defesa" ng-model="side" value="defesa"/>
							<label for="defesa">Defesa</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-xs-3">
					<label for="sr-time">Sr do seu Time:</label>
					<input id="sr-time" type="number" name="teamsr" class="form-control" ng-model="teamSR">
				</div>
				<div class="form-group col-xs-3">
					<label for="sr-inimigo">Sr do Time Inimigo:</label>
					<input id="sr-inimigo" type="number" name="enemysr" class="form-control" ng-model="enemySR">
				</div>
			</div>			

		</div>
		</div>

		<a type="submit" class="btn btn-primary" ng-click="salvarJogo();">Submit</a>

	</div>

</form>

<style type="text/css">
	.advanced h1 {
		font-size: 16px;
	}
</style>